body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

}

#size{
    flex: 1;
}

#canvas {
    width: 400px;
    height: 400px;
    background-color: white;
    display:flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px black solid;
    background-color: white;
}

.active {
    background-color: black;
}